@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;1,100;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
* {
    box-sizing: border-box;
   }
body{
    margin: 0;
    font-family: 'Roboto',sans-serif;
   }

.navbar{
    display: flex;
    flex-flow: row wrap;
    height:100px ;  
    background: white;   
    justify-content: center;
    align-items: center;  
    position: fixed; 
    width: 100%;
   }

.logo{
    flex: 20%;
    text-align: left;
    margin-left: 10%;
}

.logo h1{
    f4font-family: 'Lobster',cursive;
    color: #180a;
    font-size: 28px;   
}

.menu{ 
    flex: 60%;
    text-align: right;
    padding: 20px; 
  
}

.menu a {
        color: #180f4a;
        text-decoration: none;
        font-size: 20px;
        padding: 15px 10px;
}
.menu a:hover{
    color: #ff2078;
    
}

#botao{
    background: #180f4a;
    padding: 10px 25px;
    color: white;
    border-radius: 5px;
    margin-right: 10%;

}

#botao:hover{
    border: none;
    background: #ff2078;
}

.header{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background: white;   
    padding-top: 100px;     
}
.headline{
    margin-left: 10%;
    flex: 40%;
     
}

.headline p{
    color: gray;
    text-align: left;
}


.headline h2{
        font-weight: 900;
        font-size: 20px;
        color: #180f4a;
        padding: 0;
        margin: 0;

}

.contact-btn{
            background: #ff2078;
            padding: 20px;
            color: white;
            text-transform: uppercase;
            border-radius: 5px;
            text-decoration: none;
            display: inline-block;
}
.contact-btn:hover{
                background: #180f4a;

}

.img-headline{
    margin-right: 10%;
    flex: 40%;
    /* border: 1px solid deeppink; */
    text-align: center;
}
section{
        display: inline-block;
        margin-top: 80px;
        /* border: 1px solid black; */
         margin-left: 5%;
         margin-right: 5%;
       
        text-align: center;
        padding: 5%;
      
}
section h2{
        width: 100%;
        font-size: 50px;
        margin: 0;
        font-family: 'Lobster',cursive;
        font-weight: bolder;
        color: #180f4a;        
}

.servicos{
            display: inline-block;
            margin-top: 5%;

}

.card{
    display: inline-block;
    width: 30%;
    padding: 20px;
     margin: 10px; 
    border: 1px solid #ff2078;
    border-radius: 10px;
    cursor: pointer;
}

.card:hover{
        background: #ff2078;
        color: white;
        padding:40px ;
}

.card:hover img{
    display: none;

}
.card:hover .card-text{
    display: none;
}
 
.card:hover .texto-oculto{
    display: block;
}

.texto-oculto{
    display: none;
}

footer{
    margin-top: 100px;
    height: 200px;
    background-image:linear-gradient(180deg, #180f4a,#090422,black);
    text-align: center;
    border-top: 5px solid #ff2078;

}
.logo-rodape{
        padding: 10px;
}

.agencia{
    font-family: 'Lobster',cursive;
    color: white;
    font-size: 28px; 
}
.whats{
    position: fixed;
    right:5px ;
    bottom: 5px;
    

}